* {
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: Roboto-light;
    src: url("../roboto/AnyConv.com__Roboto-Light.woff");
}

@font-face {
    font-family: Roboto-bold;
    src: url("../roboto/AnyConv.com__Roboto-Bold.woff");
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto-bold;
}

body {
    font-family: Roboto-light;
}

/*
FORMATACOES HEADER
*/

header {
    font-family: Roboto-bold;
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid rgba(211, 211, 211, 0.712);
}

header a#logo {
    display: block;
    width: 100px;
    height: 70px;
    margin-right: 10px;
    background-image: url("../images/logo_transparente.png");
    background-size: 100px;
    background-repeat: no-repeat;
    text-indent: -20000px;
    float: left;
}

/*
FORMATACOES NAVEGACAO
*/

nav {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

nav ul {
    float: left;
    box-sizing: border-box;
    margin: 15px 20px;
}

nav li {
    float: left;
    margin: 0 10px;
}

nav li a {
    display: block;
    box-sizing: border-box;
    padding: 10px 12px;
    color: #00006d;
}

nav li a:hover {
    color: #0000ff;
    transition: color 1s;
    border-bottom: 1px solid #00006d;
}

nav div#chamada ul {
    float: right;
}

nav div#chamada li a {
    border-radius: 10px;
    padding: 10px 25px;
}

nav div#chamada li a:hover {
    border: none;
    text-decoration: underline;
}

nav div#chamada a#login {
    background-color: #000039;
    color: #fff;
}

nav div#chamada a#cadastro {
    background-color: rgb(238, 133, 5);
    color: #fff;
}

/*
FORMATACOES ARTICLE
*/

div#container-principal {
    margin-top: 120px;
}

article {
    z-index: -1;
    font-family: Roboto-light;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    width: 67%;
}

/*
FORMATACOES SECTION
*/

section {
    box-shadow: 0px 0px 1px 0px #000;
    padding: 15px;
    margin-bottom: 15px;
}

article section a:hover {
    opacity: 0.8;
    transition: opacity 1s;
}

article section img {
    width: 120px;
    float: left;
    margin-right: 20px;
}

article section h2 {
    padding-top: 10px;
    margin-bottom: 10px;
}

/*
FORMATACOES ASIDE
*/

aside {
    font-family: Roboto-light;
    float: right;
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
}

aside h2 {
    margin-bottom: 15px;
    text-align: left;
}

aside #sobre {
    text-align: center;
}

aside #sobre img {
    width: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
}

aside input[type="text"] {
    height: 29.5px;
    width: 70%;
    margin: 0;
    border: 1px solid rgb(218, 218, 218);
    border-radius: none;
    font-family: Roboto-light;
    font-size: 1em;
}

aside input[type="submit"] {
    height: 35px;
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(238, 133, 5);
    color: #fff;
    border-radius: none;
    width: 20%;
}

aside input[type="submit"]:hover {
    text-decoration: underline;
    background-color: rgb(255, 140, 0);
    cursor: pointer;
}

aside a {
    display: block;
    margin-bottom: 10px;
    color: #00006d;
    width: 50%;
}

aside a:hover {
    text-decoration: underline;
}

/*
FORMATACOES RODAPE
*/

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    color: #00006d;
}

footer a:hover {
    text-decoration: underline;
}

/*
MARCACAO DA PAGINA ATUAL
*/

#index .index, #cursos .cursos, #contato .contato, #sobre .sobre, #treinamento .treinamento {
    color: rgb(238, 133, 5);
}